@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset webpage default styles */
* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    /* colors */
    --white-color: #fff;
    --light-on: #ffd600;
}

body {
    width: 100%;
    height: 100dvh;

    color: var(--white-color);
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow: hidden; /* remove if it's causing issues*/
}

main {
    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1 {
    text-align: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 3rem;
    overflow: hidden;
}
h1 span:first-child {
    animation: left_slide-in 900ms 3s ease-in-out ;
}

.entry_point {
    width: min(500px, 100%);
    height: max(100px, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    border: none;
    background: transparent;
    cursor: pointer;
}

.entry_point img {
    width: 100px;
    aspect-ratio: 1;
}
.entry_point > :first-child,
.entry_point:hover > :nth-child(2) {
    display: none;
}
.entry_point:hover > :first-child {
    display: block;
    filter: drop-shadow(2px 2px 35px var(--light-on));
}

/* using flex box to form grid layout */
.application_container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow: hidden;
}
.flex1,
.flex2,
.flex3 {
    width: 100%;
    display: flex;

    gap: 20px;
}
.flex1,
.flex2 {
    flex: 1;
}
.flex3 {
    flex-basis: 100px;
}

.rooms {
    height: 100%;
    position: relative;
    /* background-color: #ffd600; */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    text-transform: capitalize; 
    flex: 1;
    cursor: pointer;
    overflow: hidden; /* remove if necessary*/
}
.rooms > p {
    letter-spacing: 4px;
    font-weight: 500;
}
.main_hall {
    flex-basis: 500px;
}
.main_hall::after {
    background: url(./assets/imgs/hall.jpg) no-repeat;
}

.bedroom {
    flex-basis: 200px;
}
.bedroom::after {
    background: url(./assets/imgs/guest_room.jpg) no-repeat;
}

.guest_room {
    flex-basis: 400px;
}
.guest_room::after {
    background: url(./assets/imgs/guest_room.jpg) no-repeat;
}
.kitchen, .bathroom, .outside_lights {
    flex-basis: 300px;
}
.kitchen::after {
    background: url(./assets/imgs/kitchen.jpg) no-repeat;
}
.bathroom::after {
    background: url(./assets/imgs/bathroom.jpg) no-repeat;
}
.outside_lights::after {
    background: url(./assets/imgs/outside.jpg) no-repeat;
}

.corridor::after {
    background: url(./assets/imgs/walkway.jpg) no-repeat;
}
.rooms::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;

    background-size: cover;
    background-position: center;
}
.rooms:hover .rooms::after {
    transform: scale(1.1);
    transition: all 800ms ease-in-out;
}
.rooms:active {
    transform: scale(2);
    opacity: 0.1;
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    transition: all 800ms ease-in-out;
}





/* ANIMATIONS */
@keyframes left_slide-in {
    0% {
        position: relative;
        left: -300px;
        opacity: 0.1;
    }
    50% {
        opacity: .5;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

/* SPECIAL CLASSES */
.hidden {
    display: none;
}